{% extends "base.html" %}

{% block title %}admin panel{% endblock title %}

{% block body %}
<h1>Admin Panel</h1>
<h2>registration</h2>
<a href="register.php?edition=6&context=13">register</a>

<h2>before matches</h2>
<a href="check_cup_eliminations.php">check cup eliminations</a>
<a href="view_standings.php?c=13">view standings</a>
<a href="create_fixtures.php?c=13">create fixtures</a>
<a href="view_fixtures.php?e=6">view fixtures</a>

<h2>During the week</h2>
<a href="get_match_IDs.php">get match IDs</a>
<a href="get_HT-Live_URL.php?e=6">get HT-Live URL</a>

<h2>after matches</h2>
<a href="get_match_results.php">get match results</a>
<a href="view_fixtures.php?e=6">view fixtures</a>
{% endblock body %}
