{% extends "base.html" %}

{% block title %}admin panel{% endblock title %}

{% block body %}
<h1>Admin Panel</h1>
<h2>registration</h2>
<a href="register.php?edition={{edition}}&context={{context}}">register</a>

<h2>before matches</h2>
<a href="check_cup_eliminations.php">check cup eliminations</a>
<a href="get_standings.php?c={{context}}">get standings</a>
<a href="create_fixtures.php?c={{context}}">create fixtures</a>
<a href="get_fixtures.php?e={{edition}}">get fixtures</a>

<h2>During the week</h2>
<a href="check_match_IDs.php">check match IDs</a>
<a href="get_HT-Live_URL.php?e={{edition}}">get HT-Live URL</a>

<h2>after matches</h2>
<a href="check_match_results.php">check match results</a>
<a href="get_fixtures.php?e={{edition}}&r={{round-1}}">get fixtures</a>
{% endblock body %}
